Architecture: amd64
Depends: libc6 (>= 2.17)
Description: DAP SDK - Distributed Application Platform Software Development Kit
Maintainer: support@demlabs.net
Package: dap-sdk-dbg
Priority: optional
Section: devel
Version: 3.0-0
Installed-Size: 4

